<footer>
    <div class="container">
        <div class="content">
            <div class="logo">
                <img src="images/logo.png" alt="verre de vin ">
            </div>
            <div class="informations">
                <div class="part-1">
                    <div class="title-part">
                        <h2>about us</h2>
                    </div>
                    <div class="paragraph-part">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. totam rem aperiam</p>
                    </div>
                </div>
                <div class="part-2">
                    <div class="title-part">
                        <h2>get news & offers</h2>
                    </div>
                    <div>
                        <input type="text">
                    </div>
                </div>
                <div class="part-3">
                    <div class="title-part">
                        <h2>contact us</h2>
                    </div>
                    <div class="paragraph-coordinates">
                        <p>No 40 Baria Street 133/2</p>
                        <p>+(156) 1800 -366-6666</p>
                        <p>Eric-82@example.com</p>
                        <p>www.royate.com</p>
                    </div>
                </div>
            </div>
        </div>          
    </div>
</footer>