<footer>
    <div class='footer'>
        <div class='logo'>
            <img  src="images\logo-1.png" alt="logo">
        </div>
        <div class="adress">
            <p class="text">adresse : NO 40 Baria street 133/2</p>
        </div>
        <div class="phone">
            <img class="phone-draw"src="images/phone-icons.com.png" alt="dessin d'un combiné téléphonique">
            <a href="+(156) 1800-366-6666">: +(156)1800-366-6666</a>
        </div>
        <div class='mailOwner'>
            <a href="mailto:Eric-82@example.com">Eric-82@example.com</a>
        </div>
        <div class="site-restaurant">
            <a href="mailto:https://www.royate.com">www.royate.com</a>
        </div>
    </div>
</footer>