<header>
    <div class="container">
        <div class='content'>
            <div class="logo">
                <img  src="images\logo-1.png" alt="logo">
            </div>
            <div class="navbar">
                <nav class ="menu">
                    <ul class="main-menu">
                        <li class="item-menu"><a href="">home</a></li>
                        <li class="item-menu"><a href="">page</a></li>
                        <li class="item-menu"><a href="">menu</a></li>
                        <li class="item-menu"><a href="">réservation</a></li>
                        <li class="item-menu"><a href="">blog</a></li>
                        <li class="item-menu"><a href="">shop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="icon">
                <img src="images\notify.png" alt="sonnette">
            </div>
        </div>
    </div>
</header>