<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('CSS/accueil.css')}}">
    <link rel="stylesheet" href="{{asset('CSS/about.css')}}">
    <title> {% block title %} Restaurant SEAFOOD{% endblock %} </title>
</head>
<body>
{% block bodyClass %}{% endblock %}


   
    {% block body %}
        

    {% endblock %}
    
</body>
</html>